#video {
  width: 100%;
  height: 700px;
  position: relative;
  background-color: #fff;

  .inner {
    position: absolute;
    top: 50px;
    left: 430px;
    display: flex;

    h2 {
      font: bold 40px/1 "TheJamsil5Bold";
      color: #a50034;
    }

    span {
      font: 16px/60px "LotteMartDream";
      padding-left: 20px;
    }
    p {
      position: absolute;
      top: 60px;
      left: 350px;
      width: 500px;
      color: red;
      font: 17px/1 "SeoulHangangM";
    }
  }
  .videoList {
    position: relative;
    width: 100%;
    height: 100%;
    ul {
      li {
        &:nth-child(1) {
          position: absolute;
          top: 160px;
          left: 430px;
          width: 30vw;
          height: 100%;
          z-index: 10;
          padding: 20px;

          h3 {
            font: bold 28px/1.4 "SeoulHangangM";
            margin-bottom: 15px;
          }
          span {
            font: 20px/1 "SeoulHangangM";
          }
          a {
            img {
              width: 100%;
              height: 32vh;
              margin-top: 10px;
            }
          }
        }
        &:nth-child(2) {
          position: absolute;
          top: 180px;
          right: 17.5vw;
          display: flex;
          padding: 20px;
          a{
            width: 170px;
            height: 100px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          div {
            width: 350px;
            height: 100px;
            h3 {
              font: bold 18px/1.2 "SeoulHangangM";
              margin-bottom: 10px;
              margin-left: 10px;
            }
            span {
              font: 15px/1 "SeoulHangangM";
              margin-left: 10px;
            }
          }
        }
        &:nth-child(3) {
          position: absolute;
          top: 35vh;
          right: 17.5vw;
          display: flex;
          padding: 20px;

          a{
            width: 170px;
            height: 100px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          div {
            width: 350px;
            height: 100px;
            h3 {
              font: bold 18px/1.2 "SeoulHangangM";
              margin-bottom: 10px;
              margin-left: 10px;
            }
            span {
              margin-left: 10px;
              font: 15px/1 "SeoulHangangM";
            }
          }
        }
        &:nth-child(4) {
          position: absolute;
          bottom: 7vh;
          right: 17.5vw;
          display: flex;
          padding: 20px;

          a{
            width: 170px;
            height: 100px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          div {
            width: 350px;
            height: 100px;
            h3 {
              font: bold 18px/1.2 "SeoulHangangM";
              margin-left: 10px;
              margin-bottom: 10px;
            }
            span {
              margin-left: 10px;
              font: 15px/1 "SeoulHangangM";
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  #video {
    height: 74vh;
    a {
      .plusBtn {
        top: 3vh;
        right: 14vw;
      }
    }
    .inner {
      left: 12vw;
    }
    .videoList {
      ul {
        li {
          &:nth-child(1) {
            left: 12vw;
            width: 38vw;
          }
          &:nth-child(2) {
            right: 10vw;

            div {
              h3 {
                font: bold 15px/1.2 "SeoulHangangM";
              }
              span {
                font: 13px/1 "SeoulHangangM";
              }
            }
          }
          &:nth-child(3) {
            right: 10vw;
            top: 35vh;
            div {
              h3 {
                font: bold 15px/1.2 "SeoulHangangM";
              }
              span {
                font: 13px/1 "SeoulHangangM";
              }
            }
          }
          &:nth-child(4) {
            position: absolute;
            bottom: 8vh;
            right: 10vw;

            div {
              h3 {
                font: bold 15px/1.2 "SeoulHangangM";
              }
              span {
                font: 13px/1 "SeoulHangangM";
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1197px) {
  #video {
    height: 74vh;
    a {
      .plusBtn {
        top: 3vh;
        right: 5vw;
      }
    }
    .inner {
      left: 7vw;
    }
    .videoList {
      ul {
        li {
          &:nth-child(1) {
            left: 7vw;
          }
          &:nth-child(2) {
            right: 5vw;

            div {
              h3 {
                font: bold 15px/1.2 "SeoulHangangM";
              }
              span {
                font: 13px/1 "SeoulHangangM";
              }
            }
          }
          &:nth-child(3) {
            right: 5vw;
            div {
              h3 {
                font: bold 15px/1.2 "SeoulHangangM";
              }
              span {
                font: 13px/1 "SeoulHangangM";
              }
            }
          }
          &:nth-child(4) {
            position: absolute;
            bottom: 8vh;
            right: 5vw;

            div {
              h3 {
                font: bold 15px/1.2 "SeoulHangangM";
              }
              span {
                font: 13px/1 "SeoulHangangM";
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  #video {
    height: 74vh;
    a {
      .plusBtn {
        top: 3vh;
        right: 5vw;
      }
    }
    .inner {
      left: 7vw;
      p {
        left: 24vw;
      }
    }
    .videoList {
      ul {
        li {
          &:nth-child(1) {
            left: 7vw;
            width: 35vw;

            h3 {
              font: bold 25px/1.4 "SeoulHangangM";
            }
            span {
              font: 17px/1 "SeoulHangangM";
            }
            a {
              img {
                width: 36vw;
                height: 33vh;
              }
            }
          }
          &:nth-child(2) {
            right: -3vw;

            div {
              h3 {
                font: bold 15px/1.2 "SeoulHangangM";
              }
              span {
                font: 13px/1 "SeoulHangangM";
              }
            }
          }
          &:nth-child(3) {
            right: -3vw;
          }
          &:nth-child(4) {
            position: absolute;
            bottom: 8vh;
            right: -3vw;

            div {
              h3 {
                font: bold 15px/1.2 "SeoulHangangM";
              }
              span {
                font: 13px/1 "SeoulHangangM";
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #video {
    height: 74vh;
    a {
      .plusBtn {
        top: 33vh;
        right: 5vw;
      }
    }
    .inner {
      left: 7vw;
      p {
        left: 15vw;
      }
    }
    .videoList {
      ul {
        li {
          &:nth-child(1) {
            left: 7vw;
            width: 44vw;

            h3 {
              font: bold 25px/1.4 "SeoulHangangM";
            }
            span {
              font: 17px/1 "SeoulHangangM";
            }
            a {
              img {
                width: 38vw;
                height: 34vh;
              }
            }
          }
          &:nth-child(2) {
            right: -30vw;

            div {
              h3 {
                display: none;
              }
              span {
                display: none;
              }
            }
          }
          &:nth-child(3) {
            right: -30vw;
            top: 35vh;
            div {
              h3 {
                display: none;
              }
              span {
                display: none;
              }
            }
          }
          &:nth-child(4) {
            bottom: 8vh;
            right: -30vw;
            div {
              h3 {
                display: none;
              }
              span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 625px) {
  #video {
    height: 74vh;
    a {
      .plusBtn {
        top: 10vh;
        right: 5vw;
        display: none;
      }
    }
    .inner {
      left: 7vw;
      span {
        display: none;
      }
      p {
        left: 18vw;
        font: 14px/1 "SeoulHangangM";
      }
    }
    .videoList {
      ul {
        li {
          &:nth-child(1) {
            left: 3vw;
            width: 54vw;

            h3 {
              font: bold 25px/1.4 "SeoulHangangM";
            }
            span {
              font: 17px/1 "SeoulHangangM";
            }
            a {
              img {
                width: 46vw;
                height: 33vh;
              }
            }
          }
          &:nth-child(2) {
            right: -50vw;
          }
          &:nth-child(3) {
            right: -50vw;
            top: 35vh;
          }
          &:nth-child(4) {
            bottom: 8vh;
            right: -50vw;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  #video {
    height: 74vh;
    a {
      .plusBtn {
        top: 10vh;
        right: 5vw;
        display: none;
      }
    }
    .inner {
      left: 7vw;
      span {
        display: none;
      }
      p {
        left: 13vw;
        font: 14px/1 "SeoulHangangM";
      }
    }
    .videoList {
      ul {
        li {
          &:nth-child(1) {
            left: 3vw;
            width: 54vw;

            h3 {
              font: bold 25px/1.4 "SeoulHangangM";
            }
            span {
              font: 17px/1 "SeoulHangangM";
            }
            a {
              img {
                width: 46vw;
                height: 29.5vh;
              }
            }
          }
          &:nth-child(2) {
            right: -70vw;
          }
          &:nth-child(3) {
            right: -70vw;
            top: 35vh;
          }
          &:nth-child(4) {
            bottom: 8vh;
            right: -70vw;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  #video {
    height: 74vh;
    a {
      .plusBtn {
        top: 3vh;
        right: 5vw;
        display: none;
      }
    }
    .inner {
      left: 7vw;
      span {
        display: none;
      }
      p {
        left: 5vw;
        font: 14px/1 "SeoulHangangM";
      }
    }
    .videoList {
      ul {
        li {
          &:nth-child(1) {
            left: 3vw;
            width: 51vw;

            h3 {
              font: bold 25px/1.4 "SeoulHangangM";
            }
            span {
              font: 17px/1 "SeoulHangangM";
            }
            a {
              img {
                width: 41vw;
                height: 26vh;
              }
            }
          }
          &:nth-child(2) {
            right: -80vw;

            div {
              h3 {
                display: none;
              }
              span {
                display: none;
              }
            }
          }
          &:nth-child(3) {
            right: -80vw;
            top: 37.5vh;
            div {
              h3 {
                display: none;
              }
              span {
                display: none;
              }
            }
          }
          &:nth-child(4) {
            bottom: 4vh;
            right: -80vw;
            div {
              h3 {
                display: none;
              }
              span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
